* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  box-sizing: border-box;
}

.container {
  padding: 0rem;
  background-color: #232136;
  color: #d2dbdd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-header {
  padding: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  padding: 0.3rem;
}

.header-img {
  margin: 0.3rem;
  padding: 0.3rem;
}

.container-level {
  margin: 0.3rem;
  padding: 0.3rem;
  background-color: #191724;
  border: #4a4744 solid 0.1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h2-div {
  color: #d1a71d;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-plot {
  margin: 0.3rem;
  padding: 0.3rem;
  background-color: #191724;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

.plot {
  margin: 0rem;
  padding: 0rem;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #663399 #1a1a2e;
  width: 700px;
  height: 500px;
  max-width: 900px;
}

.container-h2 {
  margin: 0.3rem;
  padding: 0.3rem;
  color: #47bbcf;
}

.container-p {
  margin: 0rem;
  padding: 0rem;
  color: #a19a9a;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.p-span {
  color: #4eb8b8;
  margin: 0.3rem;
  padding: 0.3rem;
  font-weight: bold;
  font-size: medium;
  font-weight: 900;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pp-span {
  color: #d8d5cc;
  margin: 0.3rem;
  padding: 0.3rem;
  font-weight: bold;
  font-size: medium;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.controls-divv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slope {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#divv-p {
  color: #d1a71d;
}

.slope-select {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #17181f;
  color: #f5f5f5;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

#slope-label {
  color: #2992af;
  font-weight: bold;
  font-size: large;
}

.controls-button-level {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #161616;
  color: #d2dbdd;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

.controls-button-level:hover {
  background-color: #120907;
}

.controls-button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #352640;
  color: #d2dbdd;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

.controls-button:hover {
  background-color: #171133;
}

.controls-message {
  margin: 0.5rem;
  padding: 0.5rem;
  color: #4eb8b8;
  border-radius: 0.5rem;
}

.controls-input {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #19203c;
  color: #f5f5f5;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

.container-div {
  margin: 0.3rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-button {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #1d1832;
  color: #d2dbdd;
  border-radius: 0.5rem;
  border: #4e4e4b solid 1px;
}

.div-button:hover {
  background-color: #170132;
}

/* Scrollbar para navegadores basados en WebKit */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e; /* fondo del scroll */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #663399; /* color del thumb */
  border-radius: 10px;
  border: 2px solid #1a1a2e; /* da un efecto de espacio */
}

::-webkit-scrollbar-thumb:hover {
  background: #9157d1;
}

/* Scrollbar para Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #663399 #1a1a2e;
}

#footer {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #191724;
  border: #4a4744 solid 0.1rem;
  border-radius: 0.5rem;
  color: #d2dbdd;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#footer-img {
  margin: 0.1rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
}

#footer-span {
  margin: 0.3rem;
  padding: 0.3rem;
}